body {
  overflow-x: hidden; 
}
.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  margin-block: 1rem;
  width: 650px;
  margin: auto;
}
.image {
  width: 200px;
  height: 180px;
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.generat-more {
  width: 150px;
  margin: auto;
  margin-block: 2rem;
  border: none;
  border-radius: .3rem;
  padding: .4rem 1rem;
  box-shadow: 0 0 1rem rgba(0,0,0,0.2);
  font-weight: 600;
  color: white;
  background-color: orange;
  cursor: pointer;
}
.generat-more:active {
  transform: scale(.98);
}
.author {
  margin-left: .8rem;
  font-size: .7rem;
  font-style: italic;
}
.reomev {
  position: sticky;
  top: 20px;
  left: 20px;
  background-color: green;
  color: black;
  border: none;
  border-radius: .3rem;
  padding: .3rem .5rem;
  box-shadow: 0 0 1rem rgba(0,0,0,0.2);
  cursor: pointer;
}
@media (min-width: 900px) {
  .images {
    width: 720px;
  }
  .image {
    width: 220px;
    height: 220px;
  }
}
button {
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .images {
    width: 500px;
    grid-template-columns: 1fr 1fr;
  }
  .image {
    width: 240px;
    height: 120px;
  }
}